@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.welcome-banner {
  text-align: center;
  font-size: 50px;
  position: relative;
  flex: 1;
  justify-content: center;
  line-height: 100px; 
}

.nav-box{
  transform: translateY(-50%);
}